# Python Basics

## Variables

##### Assigning single variable

In [4]:
# Assign x to have a value of 5
x = 5

# Print the value of x
print(x)

5

##### Assigning multiple variables

In [6]:
# Assign multiple variables
a, b, c = 10.5, 12, 14

# Let's look at the values of a, b, and c
print(a)
print(b)
print(c)

10.5
12
14

##### Reassigning variable

In [12]:
# Reassign x to have a value of 13
x = 13

# Print the new/updated value of x
print(x)

13

## Data types

##### Identify data taypes

In [77]:
# identify int variable 
z=5 
print(type(z))

<class 'int'>

In [44]:
# identify float variable 
p = 5.5
print(type(p))

<class 'float'>

In [40]:
# identify string 

Hello_world = "hello, python"
print(type("hello, python"))

<class 'str'>

##### Modify string variable

In [38]:
# to modify defined string 
Hello_world = "hello, python"
I_am_a_dataAnalyst = Hello_world + " I_am_a_dataAnalyst"
print(Hello_world)
print(I_am_a_dataAnalyst)

hello, python
hello, python I_am_a_dataAnalyst

##### Specify data type

In [52]:
# to specifiy data type 

values = int("3")
print(values, ":", type(values))

3 : <class 'int'>

##### Convert data type

In [65]:
# to convert data type 

f = 5 
print(type(f))

d= float(f)
print(type(d))

<class 'int'>
<class 'float'>

## Opertators

### Arthmetic operators

In [86]:
# add 5 + 7
print(5+7)

12

In [88]:
# subtract 7 - 5 
print(7-5)

2

In [90]:
# divide 8 / 2
print(8/2)

4.0

In [92]:
# multiply 7 * 5
print(7*5)

35

In [94]:
# floor division 
print(9%4)

1

In [98]:
# modulus division 
print(9//4)

2