# Sequential control flow 1

## String

#### Indexing

In [89]:
word = "be yourself"

# positive indexing 
first_char = word[0]
last_char = word[10]

print("positive indexing: ")
print("first:", first_char)
print("second:", last_char)

positive indexing:
first: b
second: f

In [93]:
word = "be yourself"

# negative indexing 
first_char = word[-11]
last_char = word[-1]

print("negative indexing: ")
print("first:", first_char)
print("second:", last_char)

negative indexing:
first: b
second: f

#### Concatenation

In [106]:
# add name and age 

print(name + "\n" + str(age))

aml mahmoud
14

#### Repliction

In [122]:
# Replicate Hagar's name 

Name = "Layla"
Replicated_name = Name * 3
print(Replicated_name)

LaylaLaylaLayla

#### Slicing

In [133]:
healthy = "green tea"

# slicing green word by positive indexing 
green = healthy[0:5]
print("first word:", green)

# slicing tea word by negative indexing 
tea = healthy[-4:]
print("second word:", tea)

first word: green
second word:  tea

#### Join

In [195]:
#join birth date with /

BD = ["18","07","2020"]
new_BD = "/".join(BD)
print(new_BD)

18/07/2020

In [201]:
#Join numbers & characters 

Namee = "Hagar"
Bd = 157 
Name_Bd = "157".join(Namee)
print(Name_Bd)

H157a157g157a157r

#### Split

In [208]:
# split the following names 

students = "hagar, salma, hoda"
students.split(",")

['hagar', ' salma', ' hoda']

#### Built-in string functions exercises

In [212]:
name = "   aMl mahmoud  " 
age = 14

In [137]:
# Make first character in both names capital 

print(name.title())

Aml Mahmoud

In [139]:
# Make all characters capital 

print(name.upper())

AML MAHMOUD

In [141]:
# Make all characters small 

print(name.lower())

aml mahmoud

In [147]:
# capitalize the first character in the string 

print(name.capitalize())

Aml mahmoud

In [214]:
# convert capital characters to small and vise versa 

print(name.swapcase())

   AmL MAHMOUD

In [167]:
# remove right leading spaces 
name.rstrip()

'   aml mahmoud'

In [169]:
# remove left leading spaces 
name.lstrip()

'aml mahmoud  '

In [171]:
# remove all leading spaces 
name.strip()

'aml mahmoud'

In [178]:
# replace word "pyhton" with Java 

Data= "It's all about python" 
print(Data.replace("python", "Java"))

It's all about Java

In [184]:
# search about index 9 in this sentence

Data= "It's all about python" 
index = Data.find("about")
print(index)

9

In [216]:
# ask if the string ends with "hon" 

print(Data.endswith("hon"))

True

In [218]:
# ask if the string starts with "it's" 

print(Data.startswith("it's"))

False

In [227]:
# count character a in Data 
Data.count("a")

2

In [221]:
# check if it isalnum without any spaces

fact= "Abd salma" 
fact.isalnum()

False

In [223]:
# check if "AMALMAHMOUD" is alpha

"AMALMAHMOUD".isalpha()

True