# Sequential control flow 2

## Data structure

## List

In [4]:
# create a list 
mixed_list = ["dog", 35.5, 65, [80,40]]

In [5]:
# convert string to list 
quote = "how you"
string_to_list = list(quote)
string_to_list

['h', 'o', 'w', ' ', 'y', 'o', 'u']

#### Range

In [7]:
# Generate a sequence of numbers starting from 0 to 4
sequence = list(range(0,5))
print(sequence)

[0, 1, 2, 3, 4]

In [8]:
# Generate a sequence of numbers starting from 2 to 20 increment by 3
list(range(2,20,3))

[2, 5, 8, 11, 14, 17]

In [9]:
list_1 = [1,5,7]
list_2 = [2,4,8]

list_1 *3

[1, 5, 7, 1, 5, 7, 1, 5, 7]

#### Concatenation

In [11]:
# combine list 1 & list 2 

List_1 = [7,8,9]
List_2 = [2,5]

list_3 = List_1 + List_2 
print(list_3)

[7, 8, 9, 2, 5]

#### Copy

In [13]:
# copy zoo list to forest list so we can edit in both lists

zoo = ["lion", "fox", "zebra"]
forest = zoo 
zoo[0] = "monkey" 
forest

['monkey', 'fox', 'zebra']

In [14]:
# create a separate copy of the first list 

first = [1,2,3,4]
secondd = first.copy()
secondd[1] = 7
secondd

[1, 7, 3, 4]

#### Nested list

In [16]:
# create a nested list for student names, degree and ages 
course = [["hagar", "sandy", "salma"], ["pt", "cs", "bis"], [20,21,22]]

# search in the list number 1 index number 1
course[1][1]

'cs'

In [17]:
# Edit index number zero in list number zero to be ebram 
course[0][0] = "ebram"
course

[['ebram', 'sandy', 'salma'], ['pt', 'cs', 'bis'], [20, 21, 22]]

#### Duplicates

In [19]:
# dupliacte the list course 
duplicate = course + course 
duplicate

[['ebram', 'sandy', 'salma'],
 ['pt', 'cs', 'bis'],
 [20, 21, 22],
 ['ebram', 'sandy', 'salma'],
 ['pt', 'cs', 'bis'],
 [20, 21, 22]]

#### Modification

In [21]:
# to modify items in list  students ebram instead of hagar 

students = ["hagar", "sandy", "omnia"]
students[1] = "ebram"
students

['hagar', 'ebram', 'omnia']

#### Adding elements

In [23]:
# add element at the end of the students list 
students.append("salem")
students

['hagar', 'ebram', 'omnia', 'salem']

In [24]:
# add list of two names to the students list 
students.extend(["soaad","hoda"])
students

['hagar', 'ebram', 'omnia', 'salem', 'soaad', 'hoda']

In [25]:
#add a name at index 4 
students.insert(4,"ayman")
students

['hagar', 'ebram', 'omnia', 'salem', 'ayman', 'soaad', 'hoda']

#### Deleting elements

In [27]:
# from students, delete the name at index 0
del students[0]
students

['ebram', 'omnia', 'salem', 'ayman', 'soaad', 'hoda']

In [28]:
# from students remove omnia 
students.remove("omnia")
students

['ebram', 'salem', 'ayman', 'soaad', 'hoda']

In [46]:
#from studnets, remove name at indx two and and return the name 
new_students = students.pop(2)
print(new_students)

ayman

#### Check

In [49]:
# Check if hagar name exists in the list 
"Hagar" in students

False

#### Sorting a list

In [54]:
# Create a new list containing the elements in students sorted in descending order
students_sorted = sorted(students, reverse = True)
students_sorted

['soaad', 'salem', 'hoda', 'ebram']

In [64]:
# sort students list in ascending order 
students.sort()
students

['ebram', 'hoda', 'salem', 'soaad']

#### Boolean methods

In [74]:
# check if at least one element in the list is True
any([1,0,1])

True

In [76]:
# check if all elements in the list is True
all([0,0,0])

False

#### other built-in functions

In [70]:
# how many elemnets in enployees list 
employees = ["mohamed, ahmed, sameh"]
len(employees)

1

In [68]:
# count occurance of egypt 

countries = ["egypt", "saudi", "emirates"]
countries.count("egypt")

1

In [72]:
# combine list x and y in a tuple 

x = [1,2,3]
y= [4,5,6] 
zipped = zip(x,y)
list(zipped)

[(1, 4), (2, 5), (3, 6)]

## Dictionary

In [57]:
# start with empty dictionary 

alien_0 = {}
alien_0['color']="green"
alien_0["points"]=5
print(alien_0)

{'color': 'green', 'points': 5}

In [80]:
# create depi dictionary 

depi = {}
depi["names"]= "sara"
depi["age"]= 20
print(depi)

{'names': 'sara', 'age': 20}

In [88]:
# Update the dictionary and add salma name 
depi["name"] = "salma"
depi

{'names': 'sara', 'age': '90', 'name': 'salma'}

In [94]:
#Add two key-value pairs 
depi_1 = {"names":"hoda", "age":"90"}
depi.update(depi_1)
depi

{'names': 'hoda', 'age': '90', 'name': 'hoda'}

In [100]:
# delete two key_value pairs 
del depi["age"]
depi

{'name': 'hoda'}

In [102]:
# creating dictionary by another way 

numbers = dict(one=1, two=2)
numbers

{'one': 1, 'two': 2}

## Set

In [129]:
# create set 
M = {"h", "n", "s"}
N = {"l", "o", "s"}

In [109]:
#check if h un set M 

"h" in M

True

#### Modification

In [114]:
# add "q" in M 
M.add("q")
M

{'h', 'n', 'q', 's'}

In [116]:
# add "r" and "u" in N 
N.update({"u","r"})
N

{'l', 'o', 'p', 'r', 'u'}

In [120]:
# remove n from M
M.remove("n")
M

{'h', 'q', 's'}

#### Operations

In [125]:
# create a new set contains all elements from M & N 
new_set = N.union(M)
new_set

{'h', 'l', 'o', 'p', 'q', 'r', 's', 'u'}

In [131]:
# cretae a new set to contain common elements from both M and N 
new_set1 = N.intersection(M)
new_set1

{'s'}

In [135]:
# check if the N is subset from M 
ifsubsett = N.issubset(M)
ifsubsett

False

In [141]:
# remove all elements from N set 
removeee = N.clear()
removeee